.Sidebar {
   width: 20vw;
   height: 100vh;
   border-right: 1px solid lightgray;
   padding: 30px;
   overflow-y: scroll;
}
.Sidebar::-webkit-scrollbar {
   display: none;
}
.Main {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.Sidebar > h1 {
   margin-bottom: 30px;
}

@media (max-width: 500px) {
   h1 {
      font-size: 3.5vh;
   }
}
